<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="false"
         failOnRisky="true"
         failOnWarning="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupStaticProperties="false">
  <coverage>
    <report>
      <clover outputFile="./build/coverage/log/coverage.xml"/>
      <html outputDirectory="./build/coverage/html" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="Package Test Suite">
      <directory suffix=".php">test</directory>
      <exclude>test/src/Provider/TestApple.php</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
